{% extends 'base.html' %}
{% block title %} Book an Appointment {% endblock %}
{% block body %}
    <div class="heading">
        <h1 style="text-align: center;">Welcome to the Booking Page</h1>
    </div>

    {% if user.type == "PATIENT" %}
    <div class="alert{% if message or error_message %}{% else %} hidden{% endif %}">
        <b><small style="margin: auto auto auto 30px" id="alert-message">{{ message }}{{ error_message }}</small></b>
    </div>
    <div>
        <form method="post" id="bookform" action="{% url 'book' %}" update-calendar-url="{% url 'update_calendar' %}" find-times-url="{% url 'findtimes' %}">
            {% csrf_token %}
            {% for e in form.non_field_errors %}
                <small style="color: red;">{{e}}</small>
            {% endfor %}
            {{ form.doctor }}
            {{ form.date }}
            <div class='row'>
                <div class='col-12 col-md-6'>
                    <div class="doctor-radio-container scrollbar-rare-wind" id='doctor-outside-container'>
                        <h2 style="text-align: center; margin-top: 4%;">Select a Doctor</h3>
                        <div class='doctor-content'>
                            {% for d in doctors %}
                                <label class="doctor-label">
                                    <input type="radio" value="{{ d.id }}" name="doctor-id" class="doctor-radio">
                                    <div class="doctor-container">
                                        <h4>{{ d.first_name }} {{ d.last_name }}</h4><br>
                                        <p><b>Qualifications:</b><br>
                                            {{ d.more.certification }}<br>
                                            <b>Consultations:</b><br>
                                            {{ d.more.consultations }}<br>
                                            <b>Languages:</b><br>
                                            {{ d.more.languages }}</p><br>
                                    </div>
                                </label>
                            {% endfor %}
                        
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-6'>
                    <h2 id='apptsempty' style="margin-top:4%; text-align: center;"></h2>
                    
                    <div class="hidden" id="calendar-cont">
                        <div class="calendar-inside">
                            <h3 style="margin-top: 4%; text-align: center;">Choose a day for your Appointment</h3>
                            <div class="ui calendar" id="bookcalendar"></div>
                            <div class='row'>
                                <small id='noappt' style="color: red; margin: 2% 20px 0px;"></small>
                            </div>
                            <div class="row" style="margin-top: 3%;">
                                <div class='col'>
                                    <label for="id_time">Time:</label>
                                </div>
                                <div class='col'>
                                    <label for="id_consultation">Consultation:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-6'>
                                    {{ form.time }}
                                </div>
                                <div class='col-6'>
                                    {{ form.consultation }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 3%; text-align: center;">
                <input type="submit" id="booksubmit" class="btn btn-secondary hidden">
            </div>
        </form>
    </div>
    <br/>
    
    <!--
    <div class="doctor-radio-container">
    {% for d in doctors %}
        <label class="doctor-label">
            
            <div class="doctor-container">
                <h1>hi</h1>
                <p>this is option 1</p>
            </div>
        </label>
    {% endfor %}
    </div>
-->

    {% else %}
    <h1>Sorry, you're not permitted in this area.</h1>
    <p><a href="{% url 'index' %}">Go back to Homepage</a></p>
    {% endif %}
{% endblock %}
{% block javascript %}
{% include 'calendarjs.html' %}
<!-- in javascript -->



<!-- #######GET RID OF THIS AFTER####### <script>-->
    $('.doctor-label').change(function() {
        var form = $(this).closest("form");
        $('#id_time').html('');
        
        $.ajax({
            url: form.attr("update-calendar-url"),
            data: form.serialize(),
            dataType: 'json',
            success: function (data) {
                datesList = data['apptdates'];
                consultations = data['consultations'];
                for (i = 0; i < datesList.length; ++i) {
                    datesList[i] = datesList[i].split('-');
                    datesList[i] = new Date(datesList[i][0], parseInt(datesList[i][1]) - 1, datesList[i][2]);
                }
                console.log(datesList);
                if (datesList.length == 0) {
                    $('#calendar-cont').addClass('hidden');
                    $('#apptsempty').html('This doctor is unavailable')
                } else {
                    $('#apptsempty').html('')
                    $('#calendar-cont').removeClass('hidden');
                    $('#bookcalendar').calendar('refresh');
                    $('#bookcalendar').calendar('set minDate', datesList[0]);
                    $('#bookcalendar').calendar('refresh');
                    $('#bookcalendar').calendar('set maxDate', datesList[datesList.length - 1]);
                    //$('#bookcalendar').calendar('set minDate', datesList[0]);
                    //$('#bookcalendar').calendar('refresh');
                    //$('#bookcalendar').calendar('set date', datesList[0]);
                    //$('#bookcalendar').calendar('refresh');
                }
                
                str = '';
                for (i = 0; i < consultations.length; i++) {
                    str += `<option value='${consultations[i]}'>${consultations[i]}</option>\n`
                }
                $('#id_consultation').html(str);
                $('#booksubmit').addClass('hidden')
                console.log(data['d_id'])
                $('#id_doctor').val(data['d_id'])
            }
        });
    })

    function getApptTimes(date) {
        rawdate = $('#bookcalendar').calendar('get date');
        try {
            day = rawdate.getDate();
            month = rawdate.getMonth() + 1;
            year = rawdate.getFullYear();
            date = year + '-' + String(month).padStart(2, '0') + '-' + String(day).padStart(2, '0');
            console.log(date);
            $('input[name="date"]').val(date);
            
            $.ajax({
                url: $('#bookform').attr("find-times-url"),
                data: $('#bookform').serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data['message']) {
                        $('#id_time').html('');
                        $('#noappt').html(data['message']);
                        $('#booksubmit').addClass('hidden')
                    } else {
                        $('#noappt').html('');
                        keys = data['keys'];
                        values = data['values'];
                        console.log(keys)
                        console.log(values)
                        str = ''
                        for (i = 0; i < keys.length; i++) {
                            str += `<option value='${keys[i]}'>${values[i]}</option>\n`
                        }
                        $('#id_time').html(str);
                        $('#booksubmit').removeClass('hidden')
                    }
                }
            });
        } catch(err) {
            console.log(err);
        }
    }

    var today = new Date();
    $('#bookcalendar')
        .calendar({
            type:'date',
            inline: true,
            onChange: function() {
                $('#bookcalendar').calendar('refresh');
                console.log($('#bookcalendar').calendar('get date'));
                getApptTimes($('#bookcalendar').calendar('get date'));
            }
        });
    
</script>
{% endblock %}