{% extends 'base.html' %}

{% load static %}

{% block title %} Book an Appointment {% endblock %}

{% block styles %}
<link href="{% static 'appstyles/bookform.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block body %}
    <div class="heading">
        <h1 style="text-align: center;">Welcome to the Booking Page</h1>
    </div>

    {% if user.type == "PATIENT" %}
    <div class="alert{% if message or error_message %}{% else %} display-hidden{% endif %}">
        <b><small style="margin: auto auto auto 30px" id="alert-message">{{ message }}{{ error_message }}</small></b>
    </div>
    {% if doctors %}
        <div>
            <form method="post" id="bookform" action="{% url 'book' %}" user-phone="{% if user.phone %}1{% else %}0{% endif %}" update-calendar-url="{% url 'update_calendar' %}" novalidate find-times-url="{% url 'findtimes' %}">
                {% csrf_token %}
                {% for e in form.non_field_errors %}
                    <small style="color: red;">{{e}}</small>
                {% endfor %}
                <fieldset>
                    <h2 class='fs-title'>What Appointment format would you like to book?</h2>
                    <div class='row justify-content-center' style='margin-bottom: 30px;'>
                        {% for f in form.appt_type %}
                            <div class='col-md-4 col-12 col-sm-6'>
                                <label for='{{ f.id_for_label }}'>{{ f.tag }} {{ f.choice_label }}</label>
                            </div>
                        {% endfor %}
                        {{ form.appt_type.errors }}
                        <div class='phone-error display-hidden'>
                            <small class='red-text'>You do not have a phone number set. <a href="{% url 'editprofile' %}">Add one here.</a></small>
                        </div>
                    </div>
                    <input type="button" name="next" id='first-next-button' class="next action-button" value="Next" disabled />
                </fieldset>
                <fieldset style='padding: 53px 15px 30px 15px;'>
                    {{ form.doctor }}
                    {{ form.date }}
                    <div class='row' style='background-color: whitesmoke;'>
                        <div class='col-12 col-md-4 doctor-scroll-col' style='padding-left: 0px;'>
                            <div class="doctor-radio-container scrollbar-rare-wind" id='doctor-outside-container'>
                                <h2 style="text-align: center; margin-top: 4%;">Select a Doctor</h2>
                                <input type="text" id="doctor-filter-textbox" class="form-control" doctor-filter-url="{% url 'doctorfilter' %}" placeholder="Search" />
                                <div class='doctor-content'>
                                    {% for d in doctors %}
                                        <label class="doctor-label">
                                            <input type="radio" value="{{ d.id }}" name="doctor-id" class="doctor-radio">
                                            <div class="doctor-container">
                                                <h4>{{ d }}</h4><br>
                                                <p><b>Qualifications:</b><br>
                                                    {{ d.more.certification }}<br>
                                                    <b>Consultations:</b><br>
                                                    {{ d.more.consultations }}<br>
                                                    <b>Languages:</b><br>
                                                    {{ d.more.languages }}</p><br>
                                            </div>
                                        </label>
                                    {% endfor %}
                                
                                </div>
                            </div>
                        </div>
                        <div class='col-12 col-md-8'>
                            <h2 id='apptsempty' style="margin-top:4%; text-align: center;"></h2>
                            
                            <div class="hidden" id="calendar-cont">
                                <div class="calendar-inside">
                                    <h3 style="margin-top: 4%; text-align: center;">Choose a day for your Appointment</h3>
                                    <div class="ui calendar" id="bookcalendar"></div>
                                    <div class='row'>
                                        <small id='noappt' style="color: red; margin: 2% 20px 0px;"></small>
                                    </div>
                                    <div class="row" style="margin-top: 3%;">
                                        <div class='col'>
                                            <label for="id_time">Time:</label>
                                        </div>
                                        <div class='col'>
                                            <label for="id_consultation">Consultation:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-6'>
                                            {{ form.time }}
                                        </div>
                                        <div class='col-6'>
                                            {{ form.consultation }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="button" name="previous" class="previous action-button" value="Previous" style='margin-top: 30px;' />
                    <input type="submit" id="booksubmit" class="action-button display-hidden" />
                </fieldset>
            
            </form>
        </div>
    {% else %}
        <h1 style='text-align: center; color:rgb(153, 161, 161)'>Sorry, no doctors are available at the moment.</h1>
    {% endif %}
    <br/>
    
    <!--
    <div class="doctor-radio-container">
    {% for d in doctors %}
        <label class="doctor-label">
            
            <div class="doctor-container">
                <h1>hi</h1>
                <p>this is option 1</p>
            </div>
        </label>
    {% endfor %}
    </div>
-->

    {% else %}
    <h1>Sorry, you're not permitted in this area.</h1>
    <p><a href="{% url 'index' %}">Go back to Homepage</a></p>
    {% endif %}
{% endblock %}
{% block javascript %}
<script src="{% static 'jsmodules/calendarmethods.js' %}" type='text/javascript'></script>
<script src="{% static 'jsmodules/bookmethods.js' %}" type='text/javascript'></script>
<script src="{% static 'jsmodules/customform.js' %}" type='text/javascript'></script>
{% endblock %}