{% extends 'base.html' %}

{% block title %}Confirm Cancel{% endblock %}

{% block body %}
    <div class="alert{% if not message %} display-hidden{% endif %}">
        <b><small style="margin: auto auto auto 30px" id="alert-message">{{ message }}</small></b>
    </div>
    {% if user.is_authenticated %}
        {% if user == appt.patient or user == appt.doctor %}
        <div class='heading'>
            <h1>Confirm Cancel</h1>
        </div>
        <div>
            <form method="POST" class='siteform' action="{% url 'cancelappt' appt.pk %}">
                <p style="text-align: center;">Please provide a reason for cancelling your Appointment with {% if user.type == 'DOCTOR' %}{{ appt.patient }}{% else %}Dr. {{ appt.doctor }}{% endif %} on {{ dt }}.</p>
                {% csrf_token %}
                <div class='row'>
                    <div class='col' style='text-align: center;'>
                        {{ form }}
                    </div>
                </div>
                <div class='row'>
                    <div class='col' style='text-align: center;'>
                        <input type="submit" class="btn-lg btn-block btn-secondary">
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
    {% endif %}
{% endblock %}