{% extends 'base.html' %}

{% block title %}Appointment Prescription{% endblock %}

{% block styles %}
{% load static %}
<link href="{% static 'appstyles/spoiler.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    {% if message %}
        <div class="alert{% if message %}{% else %} display-hidden{% endif %}">
            <b><small style="margin: auto auto auto 30px" id="alert-message">{{ message }}</small></b>
        </div>
    {% else %}
        <div class='heading'>
            <h1>Appointment with Dr. {{ appt.doctor }} on {{ appt.date }}</h1>
            <h3>Patient: {{ appt.patient }}</h4>
        </div>
        
        {% if user.is_authenticated %}
            <div style='padding-bottom: 200px;'>
                {% if user == appt.doctor or user == appt.patient %}
                    {% if user.type == 'DOCTOR' %}
                        <form method='post' autocomplete="off" class='siteform'>
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class='row'>
                                <div class='col'>
                                    {{ form.prescription.label }}
                                </div>
                                <div class='col'>
                                    {{ form.notes.label }}
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col'>
                                    {{ form.prescription.errors }}
                                    {{ form.prescription }}
                                </div>
                                <div class='col'>
                                    {{ form.notes.errors }}
                                    {{ form.notes }}
                                </div>
                            </div>
                            <input type="submit" class="btn-lg btn-block btn-secondary" style='margin-top: 20px;'>
                            <a href="{% url 'doctordashboard' %}"><input type="button" class='btn-lg btn-block btn-primary' value="Back"></button></a>
                        </form>
                    {% else %}
                        <div class='section'>
                            <form method="post" action="{% url 'details' appt.pk %}" enctype="multipart/form-data">
                                <div style='margin:50px;'>
                                    <label for='presc'>Prescription:</label>
                                    <div class='row' style='margin-bottom: 20px;'>
                                        <div class='col'>
                                            <div id='presc'>
                                                {% if details.prescription %}
                                                    {{ details.prescription }}
                                                {% else %}
                                                    None
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <label for='apptnotes'>Appointment Notes:</label>
                                    <div class='row' style='margin-bottom: 20px;'>
                                        <div class='col'>
                                            <div id='apptnotes'>
                                                {% if details.notes %}
                                                    {{ details.notes }}
                                                {% else %}
                                                    None
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% csrf_token %}
                                    Upload Files <input type='file' accept='.png,.jpg,.gif,.mp4,.mov,.avi,.wmv,.pdf,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document' name='files' id='images-input' multiple />
                                </div>
                                <input type="submit" class="btn-lg btn-block btn-secondary" style='margin-top: 20px;'>
                                <a href="{% url 'patientdashboard' %}"><input type="button" class='btn-lg btn-block btn-primary' value="Back"></button></a>
                            </form>
                        </div>
                    {% endif %}
                    {% if appt.getAllFiles %}
                        <div class='section'>
                            <div style='margin:50px;'>
                                <input class="spoilerbutton" type="button" value="Show Files" onclick="this.value=this.value=='Show Files'?'Hide Files':'Show Files';">
                                <div class="spoiler">
                                    <div>
                                        {% for fileModel in appt.getAllFiles %}
                                        <div class='row'>
                                            <div class='col'>
                                                {% if fileModel.isMedia %}
                                                    <img src="{{ fileModel.uploaded_file.url }}" title="{{ fileModel.upload_date }}" class="appt-images" width="600px" height="400px" />
                                                {% else %}
                                                    <div><a href="{% if fileModel.file_type == '.pdf' %}{{ fileModel.uploaded_file.url }}{% else %}{% url 'downloadfile' fileModel.pk %}{% endif %}" target="_blank">{{ fileModel.friendly_name }}</a></div>
                                                {% endif %}
                                            </div>
                                            <div class='col'>
                                                {% if fileModel.isMedia %}
                                                    <div>
                                                        <b class="cancel-text"><a id="downloadfile-{{ fileModel.pk }}" href="{% url 'downloadfile' fileModel.pk %}">Download</a></b>
                                                    </div>
                                                {% endif %}
                                                <div>
                                                    <b class="cancel-text" onclick="$('#confirm-yes{{ fileModel.pk }}, #confirm-no{{ fileModel.pk }}').removeClass('hidden')">Delete</b>&nbsp;&nbsp;
                                                    <b class="cancel-text"><a id="confirm-yes{{ fileModel.pk }}" class="hidden" href="{% url 'deletefile' fileModel.pk %}">Yes</a></b>&nbsp;&nbsp;
                                                    <b class="cancel-text hidden" id="confirm-no{{ fileModel.pk }}" onclick="$('#confirm-yes{{ fileModel.pk }}, #confirm-no{{ fileModel.pk }}').addClass('hidden')">No</b>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                            
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}