{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link href="{% static 'appstyles/bigbutton.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'appstyles/appt.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'appstyles/home.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block top %}
<div class="home-alert{% if not message %} display-hidden{% endif %}">
    <b><small style="margin: auto auto auto 30px" id="alert-message">{{ message }}</small></b>
</div>

<div class='homepage-1'>
    <div class='row' style='width:100%'>
        <div class='col-md-6 col-12'>
            <div class='typography'>
                Your Healthcare.
                Digitalized.
            </div>
        </div>
        <div class='col-12 col-md-6'>
            <img src="{% static 'images/devices.png' %}" id='device-img' />
        </div>
    </div>
</div>
<div class='homepage-2'>
    <div class='row' style='width:100%'>
        <div class='col-12'>
            <a href="{% url 'login' %}"><button class="action-button{% if user.is_authenticated %} display-hidden{% endif %}">Login</button></a>
        </div>
    </div>
</div>
<div class='homepage-3'>
    <div class='row' style='width:100%'>
        <div class='col-12' style='text-align: center;'>
            <div class='typography2'>
                It's easy as <div class='break-123'>1-2-3.</div>
            </div>
        </div>
    </div>
    <div class='row justify-content-center' style='width:100%'>
        <div class='col-12 col-md-2'>
            <div class='instruction-box' style='transition: all 2s;'>
                <div class='instruction-title'>
                    Sign Up.
                </div>
                <div class='instruction-image'>
                    <img src="{% static 'images/signup.png' %}" style='width:100%'/>
                </div>
            </div>
        </div>
        <div class='col-12 col-md-2'>
            <div class='instruction-box' style='transition: all 3s;'>
                <div class='instruction-title'>
                    Confirm Your Email and Login.
                </div>
                <div class='instruction-image'>
                    <img src="{% static 'images/login.png' %}" style='width:100%'/>
                </div>
            </div>
        </div>
        <div class='col-12 col-md-2'>
            <div class='instruction-box' style='transition: all 4s;'>
                <div class='instruction-title'>
                    Book an Appointment With A Doctor.
                </div>
                <div class='instruction-image'>
                    <img src="{% static 'images/book.png' %}" style='width:100%'/>
                </div>
            </div>
        </div>
        <div class='col-12 col-md-2'>
            <div class='instruction-box' style='transition: all 5s;'>
                <div class='instruction-title'>
                    We'll Remind you 15 Minutes Ahead.
                </div>
                <div class='instruction-image'>
                    <img src="{% static 'images/reminder.png' %}" style='width:100%'/>
                </div>
            </div>
        </div>
    </div>
    {% if not user.is_authenticated %}
    <div class='row justify-content-center' style='width:100%; padding-top: 40px;'>
        <div class='col-4' style='text-align: center;'>
            <a href="{% url 'register' %}"><input type='button' class="action-button" value="Get Started" /></a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block javascript %}
<script type='text/javascript' src="{% static 'jsmodules/home.js' %}"></script>
{% endblock %}