<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block body %}

{% if validlink %}

<div class='outer-section'>
  <div>
      <br />
      <div class='row'>
          <div class='col-10 col-md-4' style="margin-right: auto; margin-left: auto;">
              <form method='post' class='siteform' style='opacity: 0%; transition: all 2s;'>
                  <h4 style="text-align: center;">Set a New Password</h3>
                  <br />
                  {% csrf_token %}
                  <div class="form-group">
                      <input class="form-control" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}" placeholder="New Password" type="password" /> 
                      {% for e in form.new_password1.errors %}
                          <small style="color: red;">{{e}}</small>
                      {% endfor %}
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}" placeholder="Confirm New Password" type="password" /> 
                    {% for e in form.new_password2.errors %}
                        <small style="color: red;">{{e}}</small>
                    {% endfor %}
                </div>
                  {% for e in form.non_field_errors %}
                      <small style="color: red;">{{e}}</small>
                  {% endfor %}
                  <div style="text-align: center; padding-top: 10px;">
                      <input type="submit" id="login-submit" value="Submit" class="btn-lg btn-block action-button">
                  </div>
                  <br>
              </form>
          </div>
      </div>
  </div>
</div>

{% else %}

<div class="alert">
  <div style='text-align: center;'>
      <small style="margin: auto auto auto 30px" id="alert-message"><b>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</b>
        <br>
        <a href="{% url 'index' %}">Go to Home</a>
      </small>
  </div>
</div>

{% endif %}
{% endblock %}
{% block javascript %}
<script type='text/javascript'>
    window.onload = function() {
        $('.siteform').css({'opacity': '1'});
    }
</script>
{% endblock %}