{% extends 'base.html' %}

{% load static %}

{% block title %}Reset Your Password{% endblock %}

{% block body %}
    <div class="alert{% if message %}{% else %} display-hidden{% endif %}">
        <b><small style="margin: auto auto auto 30px" id="alert-message">{{ message }}</small></b>
    </div>
    <div class='outer-section'>
        <div>
            <br />
            <div class='row'>
                <div class='col-10 col-md-4' style="margin-right: auto; margin-left: auto;">
                    <form method='post' class='siteform' style='opacity: 0%; transition: all 2s;'>
                        <h4 style="text-align: center;">Reset Your Password</h3>
                        <br />
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control" id="{{ form.email.id_for_label }}" maxlength="30" name="{{ form.email.html_name }}" placeholder="Email" type="text" /> 
                            {% for e in form.email.errors %}
                                <small style="color: red;">{{e}}</small>
                            {% endfor %}
                        </div>
                        {% for e in form.non_field_errors %}
                            <small style="color: red;">{{e}}</small>
                        {% endfor %}
                        <div style="text-align: center; padding-top: 10px;">
                            <input type="submit" id="login-submit" value="Submit" class="btn-lg btn-block action-button">
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script type='text/javascript'>
    window.onload = function() {
        $('.siteform').css({'opacity': '1'});
    }
</script>
{% endblock %}