{% extends 'base.html' %}

{% load static %}

{% block title %}Dashboard{% endblock %}

{% block styles %}
<link href="{% static 'appstyles/appt.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block body %}
    <div class="alert{% if message %}{% else %} hidden{% endif %}">
        <b><small style="margin: auto auto auto 30px" id="alert-message">{{ message }}</small></b>
    </div>
    {% if user.type == 'DOCTOR' %}
        <div style='padding-bottom: 50px;'>
            <div class='row'>
                <div class='col-12 col-md-8'>
                    <div class="section" style='height: 97.33%;'>
                        <h2>Open a new Appointment slot</h2>
                        
                        <form method="post" class='doctorform' action="{% url 'booksingle' %}" check-date-url="{% url 'checkifbooked' %}" get-dates-url="{% url 'getdates' %}" get-patient-appts-url="{% url 'patientsearch' %}" id="bookform">
                            {% csrf_token %}
                            <input type='hidden' id='patient-search' name='patient-search'>
                            <div class="ui calendar" id="bookcalendar"></div>
                            <small id="already-booked"></small><br />
                            
                            {{ single_appt_form.doctor }}
                            {{ single_appt_form.date }}
                            <div class='row' style='margin-bottom: 20px; margin-top: 20px;'>
                                <div class='col-4'>
                                    <b class='cancel-text' onclick='clearCalendar()'>Clear Selection</b>
                                </div>
                                <div class='col-4'>
                                    {{ single_appt_form.time }}
                                </div>
                                <div class='col-4'>
                                    <input type="submit" id="booksubmit" onsubmit="return false" class=" btn btn-secondary display-hidden" value="Save">
                                </div>
                            </div>
                            
                        </form>
                        <div class='appt-search row'>
                            <div class='col-9'>
                                <input type="text" id="search-bar" class='form-control' placeholder="Search by Patient (first, last, preferred name)">
                            </div>
                        </div>
                        <br>
                        <div class='row' style='margin-left:20px; margin-bottom:20px;'>
                            <div class='col-4' id='appt-summary-all'>
                                <b>All:</b> {{ user.userType.apptGroupLengths.all }}
                            </div>
                            <div class='col-4' id='appt-summary-open'>
                                <b class='green-text'>Open:</b> {{ user.userType.apptGroupLengths.open }}
                            </div>
                            <div class='col-4' id='appt-summary-booked'>
                                <b class='red-text'>Booked:</b> {{ user.userType.apptGroupLengths.booked }}
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-12'>
                                <div class='infotable-cont'>
                                    <table class='infotable' id='appointment-table'>
                                        <thead class='appttablehead'>
                                            <tr>
                                                <th class='infohead'>Date</th>
                                                <th class='infohead'>Time</th>
                                                <th class='infohead'>Availability</th>
                                                <th class='infohead'>Patient</th>
                                                <th class='infohead'>Details</th>
                                                <th class='infohead'>Meet</th>
                                                <th class='infohead'>Cancel</th>
                                            </tr>
                                        </thead>
                                        <tbody class='appttablebody'>
                                            <tr id='default-row' class='appttablerow'>
                                                <td class='infocell'></td>
                                                <td class='infocell'></td>
                                                <td class='infocell'></td>
                                                <td class='infocell'></td>
                                                <td class='infocell'></td>
                                                <td class='infocell'></td>
                                                <td class='infocell'></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-4'>
                    <div class="section">
                        <h2>Open a range of Appointment slots</h2>
                        <form method="post" class='doctorform' action="{% url 'bookmult' %}" update-end-date-url = "{% url 'updateenddate' %}" id="bookmultform">
                            {% csrf_token %}
                            <div class="row appt-range">
                                <div class="col-12 col-md-6">
                                    <label for="id_startdate">Start Date</label>
                                    {{ mult_appt_form.startdate }}
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="id_enddate">End Date</label>
                                    {{ mult_appt_form.enddate }}
                                </div>
                            </div>
                            <div class="row appt-range" style='padding-bottom: 10px;'>
                                <div class="col-12 col-md-6">
                                    <label for="id_starttime">Start Time</label>
                                    {{ mult_appt_form.starttime }}
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="id_endtime">End Time</label>
                                    {{ mult_appt_form.endtime }}
                                </div>
                            </div>
                            <input type="submit" onsubmit="return false" id="bookmultsubmit" class="btn-lg btn-block btn-secondary doctor-submit" value="Save">
                        </form>
                    </div>
                    <br />
                    <div class="section">
                        <h2>Cancel a range of Appointment slots</h2>
                        <form method="post" class='doctorform' action="{% url 'cancelmult' %}" update-end-date-url="{% url 'updateenddate' %}" get-reason-url="{% url 'showreasontextbox' %}" id="cancelmultform">
                            {% csrf_token %}
                            <div class="row appt-range">
                                <div class="col-12 col-md-6">
                                    <label for="id_c_startdate">Start Date</label>
                                    {{ cancel_mult_form.c_startdate }}
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="id_c_enddate">End Date</label>
                                    {{ cancel_mult_form.c_enddate }}
                                </div>
                            </div>
                            <div class="row appt-range" style='padding-bottom: 10px;'>
                                <div class="col-12 col-md-6">
                                    <label for="id_c_starttime">Start Time</label>
                                    {{ cancel_mult_form.c_starttime }}
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="id_c_endtime">End Time</label>
                                    {{ cancel_mult_form.c_endtime }}
                                </div>
                            </div>
                            <div class="row display-hidden" id="reason-input" style="margin-bottom: 2%;">
                                <div class="col-12">
                                    <label for="id_reason">Cancel Reason</label>
                                    {{ cancel_mult_form.reason }}
                                </div>
                            </div>
                            <input type="submit" onsubmit="return false" id="cancelmultsubmit" class="btn-lg btn-block btn-secondary doctor-submit" value="Save">
                        </form>
                    </div>
                </div>
            </div>
            <br />
            <div class="section">
                <div class='row justify-content-start'>
                    <div class="col-9">
                        <h2>Your Upcoming Appointments - <a href="{% url 'appthistory' %}">Download Appointment History</a></h2>
                    </div>
                    <div class="col">
                        <select name='upcoming-filter' id='upcoming-filter' style='margin-top:5px;'>
                            <option value='all'>All</option>
                            <option value='open'>Open</option>
                            <option value='booked'>Booked</option>
                        </select>
                    </div>
                </div>
                {% if doctor.getSomeAppts %}
                    {% for apptgroup in doctor.upcomingGroups %}
                        <h4 class='display-hidden' id='{{ apptgroup.name }}-empty'>You have no {{ apptgroup.name }} Appointments saved.</h4>
                        {% for appt in apptgroup.appts %}
                            <div class="appointment-box appointment-box-md {% if apptgroup.name != 'all' %} display-hidden {% endif %}" appt-group="{{ apptgroup.name }}">
                                <div class='row' style='padding:10px 15px 10px 15px'>
                                    <div class='col-12 col-md-6 appointment-details appointment-details-md'>
                                        <div class='row'>
                                            <div class='col-12 appointment-status appointment-status-md'>
                                                Appointment slot on <br>{{ appt.dateTime }}
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-6 appointment-status appointment-status-md'>
                                                Status: {% if appt.booked %} <b class='red-text'>Booked</b><br>{% else %} <b class='green-text'>Available</b> {% endif %}
                                            </div>
                                            <div class='col-6 appointment-status appointment-status-md'>
                                                <b class="cancel-text" onclick="$('#confirm-yes{{appt.id}}, #confirm-no{{appt.id}}').removeClass('hidden')">Cancel</b>&nbsp;&nbsp;
                                                <b class="cancel-text"><a id="confirm-yes{{appt.id}}" class="hidden" href="{% url 'cancelappt' appt.pk %}">Yes</a></b>&nbsp;&nbsp;
                                                <b class="cancel-text hidden" id="confirm-no{{appt.id}}" onclick="$('#confirm-yes{{appt.id}}, #confirm-no{{appt.id}}').addClass('hidden')">No</b>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-6' style='margin-top:20px'>
                                                <a href="{% url 'details' appt.pk %}">Details</a>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-6' style='margin-top:40px'>
                                                {% if appt.type %}<a href="{{ appt.meeting_link }}">Meeting Link</a>{% elif appt.booked %}<b>Phone Appointment</b>{% endif %}
                                            </div>
                                        </div>
                                        
                                    </div>
                                    {% if appt.booked %}
                                    <div class='col-12 col-md-6 appointment-details appointment-details-md'>
                                        <div class='row'>
                                            <div class='col-6 patient-info patient-info-md'>
                                                Patient:
                                            </div>
                                            <div class='col-6 patient-info patient-info-md'>
                                                {{ appt.patient }}
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-6 patient-info patient-info-md'>
                                                Inquiring About:
                                            </div>
                                            <div class='col-6 patient-info patient-info-md'>
                                                {{ appt.consultation }}
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-6 patient-info patient-info-md'>
                                                Patient Email:
                                            </div>
                                            <div class='col-6 patient-info patient-info-md'>
                                                {{ appt.patient.email }}
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-6 patient-info patient-info-md'>
                                                Patient Phone #:
                                            </div>
                                            <div class='col-6 patient-info patient-info-md'>
                                                {{ appt.patient.phone }}
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-6 patient-info patient-info-md'>
                                                Patient DOB:
                                            </div>
                                            <div class='col-6 patient-info patient-info-md'>
                                                {{ appt.patient.more.dob }}
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-6 patient-info patient-info-md'>
                                                Patient OHIP Number:
                                            </div>
                                            <div class='col-6 patient-info patient-info-md'>
                                                {{ appt.patient.more.ohip_number }}
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-6 patient-info patient-info-md'>
                                                Patient OHIP Expiry:
                                            </div>
                                            <div class='col-6 patient-info patient-info-md'>
                                                {{ appt.patient.more.ohip_expiry }}
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    <h4>You have no Appointments saved.</h4>
                {% endif %}
            </div>
        </div>


    {% else %}
        <h1 style='text-align: center;'>Sorry, you're not permitted in this area.</h1>
        <p style='text-align: center;'><a href="{% url 'index' %}">Go back to Homepage</a></p>
    {% endif %}

{% endblock %}

{% block javascript %}
<script src="{% static 'jsmodules/calendarmethods.js' %}" type='text/javascript'></script>
<script src="{% static 'jsmodules/docdash.js' %}" type='text/javascript'></script>
<script src="{% static 'jsmodules/updateenddate.js' %}" type='text/javascript'></script>
<script type="text/javascript">
    
</script>
{% endblock %}