{% extends 'base.html' %}

{% block title %}Alert{% endblock %}

{% block body %}
<div class="alert{% if message %}{% else %} hidden{% endif %}">
    <div style='text-align: center;'>
        <small style="margin: auto auto auto 30px" id="alert-message"><b>{{ message }}&nbsp;</b>
            <br>
            {% if valid %}
            <a href="{% url 'login' %}">Login Now</a>
            {% else %}
            <a href="{% url 'index' %}">Go to Home</a>
            {% endif %}
        </small>
    </div>
</div>

{% endblock %}