{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link href="{% static 'appstyles/bigbutton.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'appstyles/appt.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'appstyles/home.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block top %}
<div class="home-alert{% if not message %} display-hidden{% endif %}">
    <b><small style="margin: auto auto auto 30px" id="alert-message">{{ message }}</small></b>
</div>

{% if user.is_authenticated and user.type %}
    {% if not user.ms_authenticated %}
        <a href="{% url 'graphsignin' %}"><button class='btn btn-secondary'>MS Sign in</button></a>
    {% endif %}
{% endif %}

<div class='homepage-1'>
    <div class='row' style='width:100%'>
        <div class='col-md-6 col-12'>
            <div class='typography'>
                Your Healthcare.
                Digitalized.
            </div>
        </div>
        <div class='col-12 col-md-6'>
            <img src="{% static 'images/devices.png' %}" id='device-img' />
        </div>
    </div>
</div>
<div class='homepage-2'>
    <div class='row' style='width:100%'>
        <div class='col-12'>
            <a href="{% url 'login' %}"><button class="action-button{% if user.is_authenticated %} display-hidden{% endif %}">Login</button></a>
        </div>
    </div>
</div>
<div class='homepage-3'>
    <div class='row' style='width:100%'>
        <div class='col-12' style='text-align: center;'>
            <div class='typography2'>
                It's easy as <div class='break-123'>1-2-3.</div>
            </div>
        </div>
    </div>
    <div class='row justify-content-center' style='width:100%'>
        <div class='col-12 col-md-2'>
            <div class='instruction-box' style='transition: all 2s;'>
                <div class='instruction-title'>
                    Sign Up.
                </div>
                <div class='instruction-image'>
                    <img src="{% static 'images/signup.png' %}" style='width:100%'/>
                </div>
            </div>
        </div>
        <div class='col-12 col-md-2'>
            <div class='instruction-box' style='transition: all 3s;'>
                <div class='instruction-title'>
                    Confirm Your Email and Login.
                </div>
                <div class='instruction-image'>
                    <img src="{% static 'images/login.png' %}" style='width:100%'/>
                </div>
            </div>
        </div>
        <div class='col-12 col-md-2'>
            <div class='instruction-box' style='transition: all 4s;'>
                <div class='instruction-title'>
                    Book an Appointment With A Doctor.
                </div>
                <div class='instruction-image'>
                    <img src="{% static 'images/book.png' %}" style='width:100%'/>
                </div>
            </div>
        </div>
        <div class='col-12 col-md-2'>
            <div class='instruction-box' style='transition: all 5s;'>
                <div class='instruction-title'>
                    We'll Remind you 15 Minutes Ahead.
                </div>
                <div class='instruction-image'>
                    <img src="{% static 'images/reminder.png' %}" style='width:100%'/>
                </div>
            </div>
        </div>
    </div>
    {% if not user.is_authenticated %}
    <div class='row justify-content-center' style='width:100%; padding-top: 40px;'>
        <div class='col-4' style='text-align: center;'>
            <a href="{% url 'register' %}"><input type='button' class="action-button" value="Get Started" /></a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block body %}
    <div class="alert{% if not message %} display-hidden{% endif %}">
        <b><small style="margin: auto auto auto 30px" id="alert-message">{{ message }}</small></b>
    </div>
    <div class="heading">
        {% if user.is_authenticated %}
            <div class='row justify-content-center' style='width:100%'>
            {% if user.type == "DOCTOR" %}
                    <a href="{% url 'doctordashboard' %}"><button class="action-button">>> Your Dashboard >></button></a>
            {% elif user.type == 'PATIENT' %}
                    <a href="{% url 'book' %}"><button class="action-button">>> Book Now >></button></a>
                </div>
                <div class="section" style='margin-top: 7%;'>
                    <h2>Your Upcoming Appointments</h2>
                    {% if user.getSomeAppts %}
                        {% for appt in user.getSomeAppts %}
                            <div class="appointment-box appointment-box-md">
                                <div class='row' style='padding:10px 15px 10px 15px'>
                                    <div class='col-12 appointment-details appointment-details-md'>
                                        <div class='row'>
                                            <div class='col-12 appointment-status appointment-status-md'>
                                                Appointment on {{ appt.dateTime }} with Dr. {{ appt.doctor }}<br>
                                                <a href="{{ appt.meeting_link }}" target="_blank">Meeting link</a>
                                            </div>
                                        </div>
                                        <!--<div class='row'>
                                            <div class='col-6 appointment-status appointment-status-md'>
                                                <b class="cancel-text" onclick="$('#confirm-yes{{appt.id}}, #confirm-no{{appt.id}}').removeClass('hidden')">Cancel</b>&nbsp;&nbsp;
                                                <b class="cancel-text"><a id="confirm-yes{{appt.id}}" class="hidden" href="{% url 'cancelappt' appt.pk %}">Yes</a></b>&nbsp;&nbsp;
                                                <b class="cancel-text hidden" id="confirm-no{{appt.id}}" onclick="$('#confirm-yes{{appt.id}}, #confirm-no{{appt.id}}').addClass('hidden')">No</b>
                                            </div>
                                        </div>-->
                                        <div class='row'>
                                            <div class='col-12' style='margin-top:20px'><a href="{% url 'details' appt.pk %}">Details</a></div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-12' style='margin-top:20px'><a href="{% url 'cancelappt' appt.pk %}">Cancel</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h4>You have no Appointments saved.</h4>
                    {% endif %}
                </div>
            {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block bottom %}
<div class='homepage-4'></div>
{% endblock %}
{% block javascript %}
<script type='text/javascript' src="{% static 'jsmodules/home.js' %}"></script>
{% endblock %}