{% extends 'base.html' %}

{% load static %}

{% block title %}Edit your profile{% endblock %}

{% block styles %}
<link href="{% static 'appstyles/autocomplete.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block body %}
    <div class="alert{% if message %}{% else %} display-hidden{% endif %}">
        <b><small style="margin: auto auto auto 30px" id="alert-message">{{ message }}</small></b>
    </div>
    {% if user.is_authenticated %}
        <div class='heading'>
            <h1>Edit your Profile</h1>
        </div>
        <div class='outer-section' style='padding-bottom: 50px;'>
            <form method='POST' class='siteform' autocomplete="off">
                
                {% csrf_token %}
                {{ form.errors }}
                {{ form.non_field_errors }}
                <label for="name">Name</label>
                <div class="row" id="name">
                    <div class="col">
                        {{ form.first_name }}
                        {{ form.first_name.errors }}
                    </div>
                    <div class="col">
                        {{ form.last_name }}
                        {{ form.last_name.errors }}
                    </div>
                </div>
                <br />
                <label for="dob">Date of Birth</label>
                <div class="form-group">
                    {{ form.dob }}
                    {{ form.dob.errors }}
                </div>
                <label for="phonenumber">Phone Number</label>
                <div class="row justify-content-center" id="phonenumber">
                    <div class="col-4 col-md-3">
                        <div class="form-group">
                            {{ form.phone1 }}
                            {{ form.phone1.errors }}
                        </div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="form-group">
                            {{ form.phone2 }}
                            {{ form.phone2.errors }}
                        </div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="form-group">
                            {{ form.phone3 }}
                            {{ form.phone3.errors }}
                        </div>
                    </div>
                </div>
                {% if doctor %}
                <!--<label for="id_meeting_url">Meeting Link</label>
                <div class='row form-group justify-content-center'>
                    <div class='col-6'>
                        {{ form.meeting_url }}
                        {{ form.meeting_url.errors }}
                    </div>
                </div>-->
                <label for="id_qualifications">Qualifications</label>
                <div class='row form-group justify-content-center'>
                    <div class='col-6'>
                        {{ form.qualifications }}
                        {{ form.qualifications.errors }}
                    </div>
                </div>
                <div style='margin-top: 15px;'>
                    Current Consultations:
                    {{ form.consultations }}
                    <div id='current-consults' class='autocomplete-cont'>
                        {% for c in consultations %}
                        <div class='autocomplete-item consult-item'>&times;&nbsp;&nbsp;{{ c }}</div>
                        {% endfor %}
                    </div>
                    <div class="autocomplete">
                        <input id="consult-input" class="form-control" type="text" placeholder="Add Consultations">
                    </div>
                    {{ form.consultations.errors }}
                </div>
                <div style='margin-top: 15px;'>
                    Current Languages:
                    {{ form.languages }}
                    <div id='current-languages' class='autocomplete-cont'>
                        {% for l in languages %}
                        <div class='autocomplete-item language-item'>&times;&nbsp;&nbsp;{{ l }}</div>
                        {% endfor %}
                    </div>
                    <div class="autocomplete">
                        <input id="language-input" class="form-control" type="text" placeholder="Add Languages">
                    </div>
                    {{ form.languages.errors }}
                </div>
                {% else %}
                <div class="row">
                    <div class="col">
                        <label for="ohipcard">OHIP Number</label>
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col">
                        <label for="version">OHIP Version Code &nbsp; <b><a href='#' id="ohip-version-help">?</a></b></label>
                    </div>
                    <div class="col">
                        <label for="ohip-expiry">Expiration Date</label>
                    </div>
                </div>
                <div class="row" id="ohipcard">
                    <div class="col">
                        <div class="form-group">
                            {{ form.ohip1 }}
                            {{ form.ohip1.errors }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            {{ form.ohip2 }}
                            {{ form.ohip2.errors }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            {{ form.ohip3 }}
                            {{ form.ohip3.errors }}
                        </div>
                    </div>
                    
                    <div class="col" id="version">
                        <div class="form-group">
                            {{ form.ohip_version }}
                            {{ form.ohip_version.errors }}
                        </div>
                    </div>
                    <div class="col">
                        {{ form.ohip_expiry }}
                        {{ form.ohip_expiry.errors }}
                    </div>
                </div>
                {% endif %}
                {% for e in form.non_field_errors %}
                    <small style="color: red;">{{e}}</small>
                {% endfor %}
                <br />
                <div style="text-align: center; padding-top: 10px;">
                    <input type="submit" value="Save changes" class="btn-lg btn-block btn-secondary">
                </div>
            </form>
        </div>
    {% else %}
        <h1 style='text-align: center;'>Sorry, you're not permitted in this area.</h1>
        <p style='text-align: center;'><a href="{% url 'index' %}">Go back to Homepage</a></p>
    {% endif %}
{% endblock %}

{% block javascript %}
<script src="{% static 'jsmodules/autojump.js' %}" type='text/javascript'></script>
<script src="{% static 'jsmodules/autocompletemethods.js' %}" type='text/javascript'></script>
<script src="{% static 'jsmodules/autocompleteinit.js' %}" type='text/javascript'></script>
{% endblock %}
