.appointment-box {
    width:100%;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    padding: 25px 45px 25px 45px;
    margin: 20px auto 20px auto;
}
@media (max-width: 992px) {
    .appointment-box-md {
        padding: 10px;
    }
}
.patient-info {
    padding:15px;
    overflow-wrap:normal;
}
@media (max-width: 992px) {
    .patient-info-md {
        overflow-wrap: break-word;
    }
}
.appointment-details {
    margin-top: auto;
    padding: 15px 45px 15px 45px;
    margin-bottom: auto;
}    

@media (max-width: 992px) {
    .appointment-details-md {
        padding: 10px;
    }
}
.appointment-status {
    line-height: 60px;
}

@media (max-width: 992px) {
    .appointment-status-md {
        line-height: 40px;
    }
}
.appt-range {
    margin-bottom: 2%;
    border-style: solid;
    border-color: rgb(179, 179, 179);
    border-width: 0.8px;
    padding-top: 10px;
    border-radius: 5px;
}
.doctor-submit {
    margin-top:20px;
}