body {
    background-color: #a8f5ff;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: scroll;
    font-family: sans-serif;
}
.appttablebody {
    display:block;
    height:163.2px;
    overflow:auto;
}
.appttablehead, .appttablebody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.appttablehead {
    width: 100%;
}
.infotable {
    empty-cells: show;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    width: 430px;
    border: 1px solid rgb(156, 156, 156);
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    height: 200px;
    max-height: 200px;
}
.infohead {
    text-align: left;
    padding: 8px 15px 8px 15px;
    background-color: rgb(190, 190, 190);
}
.infocell {
    display: table-cell;
    text-align: left;
    padding: 8px 15px 8px 15px;
    width:100%;
    min-width:100%;
}
.display-hidden {
    display: none
}
.hidden {
    visibility: hidden;
}
@media (min-width: 768px) {  
    .navbar {
        font-size:x-large;
    } /*1rem = 16px*/
}
.navbar-nav > li{
    margin-left:25px;
    margin-right:25px;
}
.heading {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.alert {
    background-color: rgb(243, 250, 206);
    padding: 20px;
    border-radius: 5px;
    margin-top:2%;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}
.section {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 100%;
}
.outer-section {
    padding-bottom: 100px;
    width:100%;
}
form {
    background-color: rgb(255, 255, 255);
    padding: 50px 30px 30px 30px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
select {
    overflow-y: auto;
}
.appt-search {
    margin: 0px auto 20px auto;
    width: 95%;
}
.doctor-radio {
    visibility: hidden;
}
.calendar-cont {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.calendar-inside {
    padding-right: 10%;
}
.doctor-radio-container {
    overflow-y: scroll;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(227, 247, 255);
    width: 80%;
    border-radius: 5px;
    max-height: 500px;
}
.cancel-cont {
    margin-top: 5px;
}
.cancel-text {
    color: #0000EE;
    cursor:pointer;
    margin-top: 5px;
}
.cancel-text:hover {
    text-decoration: underline;
}
a {
    color:blue;
}
.doctor-radio-container .doctor-label {
    min-width: 100%;
    text-align: center;
    cursor: pointer;
}
.doctor-container {
    display: inline-block;
    background-color: rgb(221, 239, 255);
    margin-left: auto;
    margin-right: auto;
    height:10%;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    min-width:100%;
    width:100%;
    max-width:100%;
}
.doctor-radio:checked + .doctor-container{
    background: rgb(198, 227, 255);
}
#booksubmit {
    margin-left: 3%;
}
#id_time {
    width:100px;
}
.time-input {
    margin-top:3%;
}
.doctor-content {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    min-width:60%;
    width:60%;
    max-width:60%;
}
.scrollbar-rare-wind::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #e4fdff;
    border-radius: 10px;
}

.scrollbar-rare-wind::-webkit-scrollbar {
    width: 5px;
    background-color: #e4fdff;
}

.scrollbar-rare-wind::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#b5faf6), to(#edebff));
    background-image: -webkit-linear-gradient(bottom, #b5faf6 0%, #edebff 100%);
    background-image: linear-gradient(to top, #b5faf6 0%, #edebff 100%);
}

.scrollbar-rare-wind {
    scrollbar-color: #a8edea #edebff;
}